# Dependencies
node_modules

# TypeScript cache
*.tsbuildinfo

# Compiled JavaScript files from TypeScript (change 'dist' if you use a different output directory in tsconfig.json)
/dist
/build
/*.js
!/src/*.js
/*.js.map
!/src/*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor files
.DS_Store
.vscode